@import "color.scss";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    display: flex;
    background-color: $footer_background;
    width: 100%;
    height: 209px;
    margin-top: auto;
    color: $font;
    ul {
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        gap: 28px;
        li {
            color: $font;
            align-self: center;
            .footer-logo {
                width: 122px;
                display: flex;
                justify-content: space-between;
                align-self: center;
            }
        }
    }
}

.footer-container {
    //width: 513px;
    display: flex;
    margin: 0 auto;
}

/* Tablette */
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    footer {
        position: relative;
    }
    .footer-container {
        position: relative;
        width: 100%;
        ul {
            margin: 0 auto;
            gap: 0;
            .footer-copyright {
                display: flex;
                width: 133px;
                height: 46px;
                text-align: center;
                align-items: center;
                font-size: 12px;
            }
        }
    }
}
