@import "color.scss";

.tag-container {
    display: flex;
    align-items: center;
}
.tag-content {
    min-width: 115px;
    height: 25px;
    padding: 0 10px;
    background-color: $primary;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
        text-align: center;
        color: $font;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
    }
}
