@import "color.scss";

.card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    .cover {
        position: relative;
    }

    .cover h3 {
        position: absolute;
        color: #fff;
        font-size: 18px;
        font-weight: 500;

        top: 85%;
        margin: 0 20px 20px 20px;
    }

    .imageCover {
        width: 340px;
        height: 340px;
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    .card {
        height: 255px;
        .cover {
            height: 255px;
            .imageCover {
                height: 100%;
            }
            .thumb-title {
                left: 5%;
            }
        }
    }
}
